<div class="container">
  <h1 class="title">Sensor Data</h1>
  
  <div class="sensor-data">
    <div class="data-item">
      <span class="label">Temperature:</span>
      <span class="value">{{ sensorData.temperature }} °C</span>
    </div>
    <div class="data-item">
      <span class="label">Humidity:</span>
      <span class="value">{{ sensorData.humidity }} %</span>
    </div>
    <div class="data-item">
      <span class="label">Fan Speed:</span>
      <span class="value">{{ sensorData.fanSpeed }}</span>
    </div>
    <div class="data-item">
      <span class="label">LED State:</span>
      <span class="value">{{ sensorData.ledState }}</span>
      <button class="control-button" (click)="toggleLED()">Toggle LED</button>
    </div>
    <div class="data-item">
      <span class="label">Buzzer State:</span>
      <span class="value">{{ sensorData.buzzerState }}</span>
      <button class="control-button" (click)="toggleBuzzer()">Toggle Buzzer</button>
    </div>
    <div class="data-item">
      <span class="label">Temperature Warning:</span>
      <span class="value">{{ sensorData.temperatureWarning }}</span>
    </div>
    <div class="data-item">
      <span class="label">Humidity Warning:</span>
      <span class="value">{{ sensorData.humidityWarning }}</span>
    </div>
    
    <div class="data-item">
      <label for="targetTemperature">Set Target Temperature:</label>
      <input type="number" id="targetTemperature" [(ngModel)]="targetTemperature" min="0" max="100" />
    </div>
    
    <div class="data-item">
      <label for="targetHumidity">Set Target Humidity:</label>
      <input type="number" id="targetHumidity" [(ngModel)]="targetHumidity" min="0" max="100" />
    </div>

    <div class="data-item">
      <label for="mediumTemperature">Set Medium Temperature:</label>
      <input type="number" id="mediumTemperature" [(ngModel)]="mediumTemperature" min="0" max="100" />
    </div>

    <div class="data-item">
      <label for="mediumHumidity">Set Medium Humidity:</label>
      <input type="number" id="mediumHumidity" [(ngModel)]="mediumHumidity" min="0" max="100" />
    </div>

    <div class="data-item">
      <button class="update-button" (click)="updateControls()">Update Controls</button>
    </div>
  </div>
</div>
